/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: rgb(219, 178, 110); 
    font-weight: 300;
    font-size: 12px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
    margin-top:10px;
    padding: 10px;
}

a {
	color: #555;
	text-decoration: none;
}

#leaderboard_container {
	
}

/* typography*/
.grade {
	font-size: 1em;
	
}
table.tablesorter thead tr .small{
	font-size: 0.7em;
	font-weight:lighter;
}

.first {
    background-image: linear-gradient(to bottom, rgb(255, 255, 203) 0%, rgb(227, 171, 41) 100%);
}
.second {
    background-image: linear-gradient(to bottom, rgb(243, 244, 244) 0%, rgb(187, 190, 192) 100%);
}
.third {
    background-image: linear-gradient(to bottom, rgb(238, 190, 129) 0%, rgb(185, 142, 93) 100%);
}
